{% for docker in docker %}
	{% for settings in docker.settings %}
server {
        listen 80;
	listen [::]:80;

        server_name {{ settings.prod_name }}, {{ settings.dev_name }};
	server_tokens off; ## Don't show the nginx version number, a security best practice
	return 301 https://$http_host$request_uri;
}
server {
	listen 443 ssl;
	listen [::]:443 ssl;
        server_name {{ settings.prod_name }}, {{ settings.dev_name }}; 
	server_tokens off; ## Don't show the nginx version number, a security best practice
        access_log /var/log/nginx/{{ settings.name }}-access.log;
        error_log /var/log/nginx/{{ settings.name }}-error.log warn;
       
    	add_header 'Referrer-Policy' 'no-referrer';

    	# replace with the IP address of your resolver
    	resolver 127.0.0.1;

    	charset utf-8;

    	# enable compression
    	gzip on;
    	gzip_types text/plain application/xml;

    	# proxy settings
    	proxy_connect_timeout       600;
    	proxy_send_timeout          600;
    	proxy_read_timeout          600;
    	send_timeout                600;

    	location /.well-known/carddav {
    	  return 301 $scheme://$host/remote.php/dav;
    	}

    	location /.well-known/caldav {
    	  return 301 $scheme://$host/remote.php/dav;
    	}
	location / {
                proxy_buffering off;
                proxy_pass http://localhost:{{ settings.server_port }};
        
        	proxy_set_header Host $http_host;
        	proxy_set_header X-Real-IP $remote_addr;
        	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        	proxy_set_header X-Forwarded-Proto $scheme;
        	proxy_http_version 1.1;
        	proxy_set_header Connection "";
        	client_max_body_size 0;
	}
}
	{% endfor %}
{% endfor %}
